* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image, h1, h2, p, span{
    display: flex;
    justify-content: center;
    
}
.container {
    font-family: 'Merienda', cursive;
    margin: 5% 25%; 
}
.container2 {
    font-family: 'Merienda', cursive;
    margin: 5% 15%;
}
header {
    padding-bottom: 3%;
}
.article {
    padding: 3% 0;
    border-top: 1px solid;
}
.alphabet {
  display: flex;
  justify-content: space-evenly;
  padding-right: 20%;
}
.__alphabet {
    padding-right: 15%;  
}
.p {
    padding-right: 19%;
}

.btn {
    gap: 1%;
}
.link {
    padding-left: 1%;
    color: rgb(99,105,240);
    text-decoration: none;
}

button {
    border: none;
    border-radius: 10rem;
    padding: 1.5% 3%;
    background-color: hsl(220,87%,51%);
    color: white;
    cursor: pointer;
    font-family: 'Merienda', cursive;
}
.a {
    color: white;
    text-decoration: none;
}

/* Table Task styling */

.table-body {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 10%;
}
.table-header {
    padding-bottom: 2%;
}
table {
    margin: auto;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: start;
    padding:2%;
    width: 25%;
}
.table-button {
    padding-top: 2%;
}

